Tutorial
*.tiff
*.gz
*.png
*.cmake
CMakeFiles
old.cpp
ocrs
CMakeCache.txt
loop.sh
.DS_Store
temp.txt
ocrs.cpp.temp.cpp
ocrs.cpp.old
sharpness
*.o
*.deb
preview
ocrsex
new/sample-rescaled.jpg
new/test_reg
