[Unit]
Description=OCR Service
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ocrs.pid
Restart=always
ExecStart=/bin/sh -e "/root/watch.sh"
User=root

[Install]
WantedBy=multi-user.target
